<?xml version="1.0" encoding="ISO-8859-1" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ADManager</display-name>
	<description>ADempiere Manager application</description>

	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>ADManager.root</param-value>
	</context-param>

	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>classpath:log4j.properties</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:ADManager-config.xml</param-value>
	</context-param>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	    <listener>
        <listener-class>org.eevolution.ui.gwt.server.guice.GuiceServletConfig</listener-class>
    </listener>


    <filter>
        <filter-name>guiceFilter</filter-name>
        <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>guiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>


	<!--filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter-->

	<!-- Comment out if using JBoss -->
	<!--listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener-->

	<!--
		Serves static resource content from .jar files such as spring-js.jar
	-->
      <!--
            Serves static resource content from .jar files such as spring-js.jar
    -->
    <servlet>
            <servlet-name>Resource Servlet</servlet-name>
            <servlet-class>org.springframework.js.resource.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
            <servlet-name>Resource Servlet</servlet-name>
            <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    

    <servlet-mapping> 
        <servlet-name>remoteLoggerServiceImpl</servlet-name> 
        <url-pattern>/adempieregwt/gwt-log</url-pattern> 
    </servlet-mapping>
        


	<!-- SpringGwt remote service servlet -->	
	<!--<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/com.theartoftech.gwt20example.Application/junithost</url-pattern>
	</servlet-mapping>

	--><!-- required to enable Spring 3.0 REST support -->
	<!--filter>
		<filter-name>httpMethodFilter</filter-name>
		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
	</filter-->


	<!--filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping-->


	<!--filter-mapping>
		<filter-name>httpMethodFilter</filter-name>
		<servlet-name>ADempiereGWT</servlet-name>
	</filter-mapping-->

	<!--filter>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
	</filter-->

	<!--filter-mapping>
		<filter-name>Spring OpenEntityManagerInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping-->
  
    <servlet> 
        <servlet-name>remoteLoggerServiceImpl</servlet-name> 
        <servlet-class>com.allen_sauer.gwt.log.server.RemoteLoggerServiceImpl</servlet-class> 
    </servlet> 
    <servlet-mapping> 
        <servlet-name>remoteLoggerServiceImpl</servlet-name> 
        <url-pattern>/adempieregwt/gwt-log</url-pattern> 
    </servlet-mapping>

	<!--<session-config>
		<session-timeout>10</session-timeout>
	</session-config>

    --><!--welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list-->

    <!--error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/uncaughtException.jsp</location>
    </error-page-->

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
